<app-dashboard>
    <div class="grid grid-cols-6 relative">
        <div class="col-span-12 md:col-span-4 flex h-full sticky top-0">
            <div class="h-full flex w-56 flex-col border-r sticky top-10">
                <div class="flex flex-col flex-grow overflow-y-auto">
                    <div class="flex items-center flex-shrink-0 px-4 h-14">
                        <h2 class="block text-xl font-medium tracking-tighter text-gray-900 transition duration-500 ease-in-out transform cursor-pointer hover:text-gray-900">
                            wickedblocks
                        </h2>
                    </div>
                    <div class="flex-1 h-full flex flex-col  px-4 mt-5">
                        <nav class="flex-1 space-y-1 ">
                            <ul class="space-y-2">
                                <li>
                                    <a class="inline-flex items-center w-full py-2 mt-1 text-base text-gray-900 transition duration-500 ease-in-out transform rounded-lg px-3 focus:shadow-outline hover:bg-white hover:shadow-sm" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-white text-primary font-medium shadow-sm" routerLink="/pages">
                                        <i-feather name="link-2" class=""></i-feather>
                                        <span class="ml-4">Links</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="inline-flex items-center w-full py-2 mt-1 text-base text-gray-900 transition duration-500 ease-in-out transform rounded-lg focus:shadow-outline px-3 hover:bg-white hover:shadow-sm" routerLinkActive="bg-white text-primary font-medium shadow-sm" routerLink="/pages/settings">
                                        <i-feather name="settings"></i-feather>
                                        <span class="ml-4">Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="inline-flex items-center w-full py-2 mt-1 text-base text-gray-900 transition duration-500 ease-in-out transform rounded-lg focus:shadow-outline px-3 hover:bg-white hover:shadow-sm" routerLinkActive="bg-white text-primary font-medium shadow-sm" routerLink="/pages/analytics">
                                        <i-feather name="pie-chart"></i-feather>
                                        <span class="ml-4">Analytics</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="flex flex-shrink-0 p-4 px-4">
                        <a href="#" class="flex-shrink-0 block w-full group">
                            <div class="flex items-center">
                                <div>
                                    <img class="inline-block rounded-full h-9 w-9" src="/assets/images/avatar.png" alt="">
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm font-medium text-gray-900">Wicked Labs</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex-1 max-h-full relative">
                <div class="absolute left-0 right-0 top-0 bottom-0 overflow-y-scroll pb-5">
                    <ng-content></ng-content>
                </div>
            </div>

        </div>
        
        <div class="border-l md:col-span-2 hidden md:flex md:flex-col ">
            <div class="p-4 py-2 flex justify-center">
                <div class="flex items-center gap-4  bg-white border rounded-xl p-3 py-2">
                    <div class="border-r px-2 flex-1">
                        <a href="">
                            <span class="text-sm">https://localhost:4200/utyemma</span>
                        </a>
                    </div>
    
                    <div class="inline-flex gap-2">
                        <button class="btn btn-sm btn-outline d-flex items-center justify-center">
                            Share
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex h-full py-4 justify-center items-center  flex-1">
                <div class="mockup-phone">
                    <div class="camera"></div> 
                    <div class="display">
                      <div class="artboard artboard-demo phone-1">Hi.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-dashboard> 