<app-dashboard>
    <div class=" md:flex relative h-full">
        <app-sidebar [slug]="slug" class="md:flex hidden flex-col w-56  border-r h-screen md:h-auto bg-white fixed md:sticky top-10 py-4" ></app-sidebar>

        <div class="md:flex-1  min-h-full sticky top-0">
            <app-topbar [slug]="slug" [title]="title" [subtitle]="subtitle"></app-topbar>

            <div class="flex h-auto">
                <div class="md:w-3/5 w-full md:flex-1 min-h-full relative scrollbar-thin py-5">
                    <div class="md:absolute left-0 right-0 top-0 bottom-0 overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-600 hover:scrollbar-thumb-gray-700 scrollbar-track-gray-50 pb-5">
                        <ng-content ></ng-content>
                    </div>
                </div>
                
                <div class="border-l w-2/5 hidden md:flex md:flex-col ">        
                    <div class="flex h-full py-4 justify-center items-center flex-1">
                        <app-mockup [page]="page"></app-mockup>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-dashboard>