<section class="min-h-screen">
    <div class="flex min-h-screen overflow-hidden">
        <div class="relative w-2/6 hidden overflow-hidden lg:block">
            <img class="absolute inset-0 object-cover w-full h-full bg-black" src="/assets/images/man-with-phone.jpg" alt="">
        </div>
        <div class="flex flex-col justify-center flex-1 px-4 py-12 overflow-hidden sm:px-6 lg:flex-none lg:px-20 xl:px-24 lg:w-2/5 mx-auto">
            <div class="w-full max-w-xl mx-auto">
                <div>
                    <a href="{{appUrl}}" >          
                        <img class="h-8 w-auto" src="assets/images/logo.svg" alt="Leadaa">
                      </a>
                    <h2 class="mt-6 text-3xl font-bold text-neutral-600">Recover your Password!</h2>
                    <div class="text-sm">
                        Don't have an account? 
                        <a routerLink="/register" class="font-medium text-blue-600 hover:text-blue-500">Register</a>
                    </div>
                </div>

                <div class="mt-8">
                    <small class="text-red-600">{{httpErrorMessage}}</small>
                    <div class="mt-6">
                        <form [formGroup]="recoverPasswordForm" (ngSubmit)="login()" class="space-y-6">
                            <div>
                                <label for="email" class="block text-sm font-medium text-neutral-600"> Email address </label>
                                <div class="mt-1">
                                    <input id="email" name="email" type="email" autocomplete="email" formControlName="email" [required]="true" placeholder="Your Email" class="input input-bordered w-full">
                                    <app-error [control]="recoverPasswordForm.get('email')" name="Email address" ></app-error>
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary w-full" [ngClass]="loading ? 'loading' : ''" >Send Recovery Code</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>