<div class="w-full bg-white hover:shadow-lg transition-shadow  rounded-xl">
    <div class="flex space-x-1 py-4 px-5">
        <div class="w-1/12 items-center">
            <button class="btn btn-ghost btn-square btn-sm cursor-move" cdkDragHandle>
                <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="5" y="5" width="5" height="5" rx="1" fill="currentColor"/>
                        <rect x="14" y="5" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"/>
                        <rect x="5" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"/>
                        <rect x="14" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"/>
                    </g>
                </svg></span>
            </button>
        </div>
        <div class="flex-1">
            <p class="flex items-center">
                <span *ngIf="title" class="font-semibold">{{link.title || "Link Title"}}</span>
                <input #linkTitle class="input input-sm input-bordered input-primary mr-1" (blur)="updateLink($event)" name="title"  [hidden]="title" placeholder="Title" value="{{link.title}}" />
                <button *ngIf="title" (click)="toggleInput('title', false, 'linkTitle')" class="btn btn-square btn-xs btn-ghost ml-1">
                    <i-feather name="edit-3" style="width: 14px; height: 14px;" ></i-feather>
                </button>
                <button *ngIf="!title" (click)="toggleInput('title', true, 'linkTitle')"  class="btn btn-square btn-primary btn-xs ml-1">
                    <i-feather name="check" style="width: 14px; height: 14px;" ></i-feather>
                </button>
            </p>
            
            <p class="flex items-center">
                <span *ngIf="url" class="text-gray-700">{{link.url || "https://myawesomelink.com"}}</span>
                <input class="input input-sm input-bordered input-primary mr-1" (blur)="updateLink($event)" name="url"  [hidden]="url" placeholder="URL" value="{{link.url}}" />
                <button *ngIf="url" (click)="toggleInput('url', false, 'linkUrl')" class="btn btn-square btn-xs btn-ghost ml-1">
                    <i-feather name="edit-3" style="width: 14px; height: 14px;" ></i-feather>
                </button>
                <button *ngIf="!url" (click)="toggleInput('url', true, 'linkUrl')"  class="btn btn-square btn-primary btn-xs ml-1">
                    <i-feather name="check" style="width: 14px; height: 14px;" ></i-feather>
                </button>
            </p>
    
            <div class="flex items-center space-x-2 mt-2">
                <button (click)="toggleExpansion('shorturl', 'Link Shortener')" [ngClass]="expansion == 'shorturl' ? 'btn-active' : ''" class="btn btn-sm btn-square btn-ghost">
                    <i-feather name="link" style="width: 16px; height: 16px;" ></i-feather>
                </button>

                <button (click)="toggleExpansion('linkIcon', 'Link Icon')" [ngClass]="expansion == 'linkIcon' ? 'btn-active' : ''" class="btn btn-sm btn-square btn-ghost">
                    <i-feather name="image" style="width: 17px; height: 17px;" ></i-feather>
                </button>
    
                <p class="flex items-center">
                    <i-feather name="bar-chart" style="width: 14px; height: 14px;" ></i-feather>
                    <span class="ml-1 text-sm font-medium">{{link?.clicks.length}} Clicks</span>
                </p>
            </div>
        </div>
        <div class="">
            <div class="flex flex-col justify-between h-full">
                <app-switch (change)="toggleStatus($event)" [disabled]="!isPublishable()" [defaultChecked]="link?.status == 'published'" ></app-switch>
                
                <button (click)="deleteLink()" class="btn btn-square btn-sm btn-ghost ml-1">
                    <i-feather name="trash-2" style="width: 16px; height: 16px;" ></i-feather>
                </button>
            </div>
        </div>
    </div>
    
    <div [ngClass]="expansion ? 'block' : 'hidden'" >
        <div class="border-y py-1 bg-gray-50 text-center relative">
            <h4 class="font-semibold mb-0">{{expansionTitle}}</h4>
            <button (click)="closeExpansion()" class="btn btn-square btn-xs btn-ghost absolute right-5 top-1">
                <i-feather name="x" style="width: 16px; height: 16px;" ></i-feather>
            </button>
        </div>

        <app-shorturl *ngIf="expansion === 'shorturl'" [updateLink]="updateLink" [linkData]="linkData" [link]="link"></app-shorturl>
        <app-link-icon *ngIf="expansion === 'linkIcon'" ></app-link-icon>
    </div>
</div>