<section>
    <!-- container -->
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="py-12 lg:py-24">
            <span class="font-semibold text-blue-700 text-base">Build your audience</span>

            <h3 class="font-semibold text-gray-900 text-2xl md:text-3xl lg:text-4xl mt-3 mb-5">Grow faster with your community</h3>

            <p class="font-normal text-gray-500 text-lg lg:text-xl mb-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>

            <div class="grid grid-cols-1 lg:grid-cols-2">
                <div class="grid grid-cols-1 md:grid-cols-2 text-center gap-8 my-16 mb-20 lg:mb-0">
                    <div>
                        <h1 class="scroll-counter font-semibold text-blue-600 text-6xl mb-3" data-counter-time="3000">100</h1>

                        <h6 class="font-medium text-gray-900 text-lg mb-2">Global customers</h6>

                        <p class="font-normal text-gray-500 text-base">We’ve helped over 100 amazing <br> global companies.</p>
                    </div>

                    <div>
                        <h1 class="scroll-counter font-semibold text-blue-600 text-6xl mb-3" data-counter-time="3000">600</h1>

                        <h6 class="font-medium text-gray-900 text-lg mb-2">Organic traffic</h6>

                        <p class="font-normal text-gray-500 text-base">Our customers have reported an <br> average of ~600% ROI.</p>
                    </div>

                    <div>
                        <h1 class="scroll-counter font-semibold text-blue-600 text-6xl mb-3" data-counter-time="3000">400</h1>

                        <h6 class="font-medium text-gray-900 text-lg mb-2">Incrase online leads</h6>

                        <p class="font-normal text-gray-500 text-base">We make usefull things with our <br> partners.</p>
                    </div>

                    <div>
                        <h1 class="scroll-counter font-semibold text-blue-600 text-6xl mb-3" data-counter-time="3000">200</h1>

                        <h6 class="font-medium text-gray-900 text-lg mb-2">5-star reviews</h6>

                        <p class="font-normal text-gray-500 text-base">We’re proud of our 5-star rating <br> with over 200 reviews.</p>
                    </div>
                </div>

                <img src="/images/Image1.svg" alt="image" class="mx-auto hover:opacity-90 transition duration-300">
            </div>
        </div>
    </div>
    <!-- container.// -->
</section>