<section class="min-h-screen">
    <div class="flex min-h-screen overflow-hidden">
        <div class="relative w-2/6 hidden overflow-hidden lg:block">
            <img class="absolute inset-0 object-cover w-full h-full bg-black" src="/assets/images/man-with-phone.jpg" alt="">
        </div>
        <div class="flex flex-col justify-center flex-1 px-4 py-12 overflow-hidden sm:px-6 lg:flex-none lg:px-20 xl:px-24 lg:w-2/5 mx-auto">
            <div class="w-full max-w-xl mx-auto">
                <div>
                    <a href="{{appUrl}}" >          
                        <img class="h-8 w-auto" src="assets/images/logo.svg" alt="Leadaa">
                      </a>
                    <h2 class="mt-6 text-3xl font-bold text-neutral-600">Welcome Back!</h2>
                    <div class="text-sm">
                        Don't have an account? 
                        <a routerLink="/register" class="font-medium text-blue-600 hover:text-blue-500">Register</a>
                    </div>
                </div>

                <div class="mt-8">
                    <small class="text-red-600">{{httpErrorMessage}}</small>
                    <div class="mt-6">
                        <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
                            <div>
                                <label for="email" class="block text-sm font-medium text-neutral-600"> Email address </label>
                                <div class="mt-1">
                                    <input id="email" name="email" type="email" autocomplete="email" formControlName="email" [required]="true" placeholder="Your Email" class="input input-bordered w-full">
                                    <app-error [control]="loginForm.get('email')" name="Email address" ></app-error>
                                </div>
                            </div>

                            <div class="space-y-1">
                                <label for="password" class="block text-sm font-medium text-neutral-600"> Password </label>
                                <div class="mt-1">
                                    <input id="password" name="password" type="password" formControlName="password" autocomplete="current-password" [required]="true" placeholder="Your Password" class="input w-full input-bordered">
                                    <app-error [control]="loginForm.get('password')" name="Password" ></app-error>
                                </div>
                            </div>

                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <input id="remember-me" name="remember-me" type="checkbox" formControlName="remember" placeholder="Your password" class="w-4 h-4 text-blue-600 border-gray-200 rounded focus:ring-blue-500">
                                    <label for="remember-me" class="block ml-2 text-sm text-neutral-600"> Remember me </label>
                                </div>

                                <div class="text-sm">
                                    <a routerLink="/password/recover" class="font-medium text-blue-600 hover:text-blue-500"> Forgot your password? </a>
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary w-full" [ngClass]="loading ? 'loading' : ''" >Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>