<section>
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="flex w-full">
            <div class="md:w-1/2"></div>
            <div class="md:w-1/2">
                <div class="py-12 lg:py-24 space-y-3">
                    <h1 class="font-semibold text-gray-900 text-2xl md:text-3xl lg:text-5xl mb-6">We are an advanced team that develops <br> startup marketing.</h1>
        
                    <p class="font-normal text-gray-500 text-sm md:text-base lg:text-xl mb-14">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, consequatur a fugiat doloremque maxime consectetur facilis illo molestias! Aut eos veniam cupiditate nobis, at asperiores similique voluptates sunt beatae labore harum aspernatur sit illum distinctio et necessitatibus eum aliquid rem?.</p>

                    <a href="{{dashboardUrl}}/register" target="_blank" class="btn btn-wide btn-primary mt-4 transform hover:scale-110 hover:-rotate-6 transition duration-300">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>