<section class="bg-gray-50">
    <!-- container -->
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="text-center py-12 lg:py-24">
            <h2 class="font-semibold text-gray-900 text-2xl md:text-3xl lg:text-4xl mb-5">We are here to get started</h2>

            <p class="font-normal text-gray-500 text-base lg:text-xl mb-10">Contact us to speed up the development of your personal project or startup.</p>

            <div class="flex items-center justify-center space-x-3">
                <a href="#" class="btn btn-ghost transform hover:scale-110 hover:-rotate-6 transition duration-300">
                    Learn more
                </a>

                <a href="#" class="btn btn-primary transform hover:scale-110 hover:-rotate-6 transition duration-300">
                    Get started
                </a>
            </div>
        </div>
    </div>
    <!-- container.// -->
</section>