<header class="text-center md:text-left py-12 lg:py-24 flex">
    <div class="md:w-1/2">
        <h1 class="font-semibold group text-gray-900 text-3xl md:text-5xl lg:text-6xl mb-6">All your <span class="italic inline-block text-primary transform group-hover:scale-110 group-hover:-rotate-6 transition duration-300">Links</span> <br> in one place for <span>FREE</span>!</h1>
    
        <p class="font-normal text-gray-500 text-sm md:text-lg lg:text-xl mb-12">Our process is the joy of experimentation, open development and <br> extraordinary attention to detail.</p>
    
        <div class="flex flex-col md:flex-row items-center justify-start gap-5">
            <a href="{{dashboardUrl}}/register" class="btn btn-primary btn-wide transform hover:scale-110 hover:-rotate-6 transition duration-300">
                Get started
            </a>
        </div>
    </div>

    <div class="md:w-1/2"></div>
</header>