<section>
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="text-center py-12 lg:py-24">
            <span class="px-3 py-1 font-medium bg-blue-50 text-blue-700 text-sm rounded-2xl cursor-pointer">Our working proccess</span>

            <h2 class="font-semibold text-gray-900 text-2xl md:text-3xl lg:text-4xl mt-4 mb-5">Cutting-edge features for advanced analytics</h2>

            <p class="font-normal text-gray-500 text-base lg:text-xl mb-16">Powerful, self-serve product and growth analytics to help you convert, engage, <br> and retain more users. Trusted by over 4,000 startups.</p>

            <div class="relative mb-12 lg:mb-24">
                <div class="max-w-screen flex items-center justify-center">
                    <div class="bg-indigo-300 w-3/5 rounded-lg shadow-2xl overflow-hidden">
                       <img src="/images/Image.png" class="mix-blend-multiply w-full h-full object-cover">
                    </div>
                </div>

                <div class="absolute top-12 left-32 ml-3 md:top-32 md:left-80 md:ml-5 lg:top-60 lg:left-96 lg:ml-52 cursor-pointer">
                    <svg id="button" class="py-2 bg-white bg-opacity-30 hover:bg-opacity-20 rounded-full transition duration-300" width="65" height="65" viewBox="0 0 46 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.25 10.4133C11.25 8.831 13.0005 7.87532 14.3315 8.73097L40.133 25.3176C41.3577 26.1049 41.3577 27.8951 40.133 28.6824L14.3315 45.269C13.0005 46.1247 11.25 45.169 11.25 43.5867V10.4133Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>

                <div id="confirmation-modals" class="hidden fixed text-gray-500 items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0">
                    <div class="bg-white rounded w-96 md:w-full lg:w-3/5">
                        <div class="px-6 py-10">
                            <div class="container max-w-screen-xl mx-auto px-4">
                                <svg id="cancel" class="ml-auto fill-current text-black cursor-pointer mb-10" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                                </svg>

                                <iframe class="w-80 md:w-full" width="560" height="315" src="https://www.youtube.com/embed/xcJtL7QggTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 text-left">
                <div class="mb-16 lg:mb-0">
                    <svg class="mb-5" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 17.5625L10 11.5625L4 5.5625M12 19.5625H20" stroke="#3B82F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h3 class="font-medium text-gray-900 text-lg lg:text-xl mb-2">We listen to you</h3>

                    <p class="font-normal text-gray-500 text-base mb-5">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua.</p>

                    <a href="#" class="flex items-center gap-3 font-medium text-blue-700 text-base">
                        Learn more
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.16699 7.56258H12.8337M12.8337 7.56258L7.00033 1.72925M12.8337 7.56258L7.00033 13.3959" stroke="#1D4ED8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>

                <div class="mb-16 lg:mb-0">
                    <svg class="mb-5" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1.5625L1 13.5625H10L9 21.5625L19 9.5625H10L11 1.5625Z" stroke="#3B82F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h3 class="font-medium text-gray-900 text-lg lg:text-xl mb-2">We make a strong plan</h3>

                    <p class="font-normal text-gray-500 text-base mb-5">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua.</p>

                    <a href="#" class="flex items-center gap-3 font-medium text-blue-700 text-base">
                        Learn more
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.16699 7.56258H12.8337M12.8337 7.56258L7.00033 1.72925M12.8337 7.56258L7.00033 13.3959" stroke="#1D4ED8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>

                <div>
                    <svg class="mb-4" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.59 13.0725L13.42 17.0525M13.41 6.0725L6.59 10.0525M19 4.5625C19 6.21935 17.6569 7.5625 16 7.5625C14.3431 7.5625 13 6.21935 13 4.5625C13 2.90565 14.3431 1.5625 16 1.5625C17.6569 1.5625 19 2.90565 19 4.5625ZM7 11.5625C7 13.2194 5.65685 14.5625 4 14.5625C2.34315 14.5625 1 13.2194 1 11.5625C1 9.90565 2.34315 8.5625 4 8.5625C5.65685 8.5625 7 9.90565 7 11.5625ZM19 18.5625C19 20.2194 17.6569 21.5625 16 21.5625C14.3431 21.5625 13 20.2194 13 18.5625C13 16.9056 14.3431 15.5625 16 15.5625C17.6569 15.5625 19 16.9056 19 18.5625Z" stroke="#3B82F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <h3 class="font-medium text-gray-900 text-lg lg:text-xl mb-2">Share the result</h3>

                    <p class="font-normal text-gray-500 text-base mb-5">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua.</p>

                    <a href="#" class="flex items-center gap-3 font-medium text-blue-700 text-base">
                        Learn more
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.16699 7.56258H12.8337M12.8337 7.56258L7.00033 1.72925M12.8337 7.56258L7.00033 13.3959" stroke="#1D4ED8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <hr>
    </div>
</section>