<div class="flex gap-3 items-center px-2">
    <div>
        <app-avatar *ngIf="src" [src]="src | safe: 'url'" [alt]="alt" ></app-avatar>
        <app-avatar *ngIf="!src" [src]="src" [alt]="alt" ></app-avatar>
    </div>

    <div class="flex-1 space-x-2">
        <label for="img-select" class="btn btn-sm btn-primary btn-square ">
            <input type="file" #fileInput (change)="updateSrc($event)" [name]="name" hidden id="img-select" >
            <i-feather name="edit" style="width: 16px; height: 16px;"></i-feather>
        </label>
        <button (click)="removeImg($event)" class="btn btn-sm btn-square btn-ghost mt-2">
            <i-feather name="trash" style="width: 16px; height: 16px;"></i-feather>
        </button>
    </div>
</div>