<label for="my-modal-4" class="btn w-full modal-button gap-2">
    <i-tabler name="click"></i-tabler>
    Select Icon
</label>


<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative space-y-2" for="">
    <div class="flex justify-between items-center">
        <h3 class="text-lg font-bold">Select an Icon</h3>
        <a href="https://tabler-icons.io/" class="text-sm font-medium">Tabler Icons</a>
    </div>
    <div class="flex flex-col h-80 space-y-3">
        <div class="border rounded-xl w-full flex items-center ">
            <input type="text" (change)="searchIcons($event)" placeholder="Search for Icons…" class="input rounded-l-xl rounded-r-0 flex-1 border-0" />
            <i-tabler name="search" class="h-6 w-6 mx-4"></i-tabler>
        </div>
        
        <div class="flex overflow-y-scroll flex-1 scrollbar-thin scrollbar-thumb-gray-600 hover:scrollbar-thumb-gray-700 scrollbar-track-gray-50 flex-wrap gap-4">
            <div  *ngFor="let icon of icons | keyvalue" class="">
                <button (click)="select(icon.key)" for="" class="btn text-gray-600 btn-ghost btn-outline btn-square" [ngClass]="current === icon.key ? 'btn-active' : ''" >
                    <i class="ti ti-{{icon.key}} text-3xl" style="stroke-width: 1px;" ></i>
                </button>
            </div>
        </div>
    </div>

    <input type="text" [name]="name" #iconInput hidden />
  </label>
</label>