<!-- The button to open modal -->
<label for="my-modal-3" class="btn btn-outline modal-button btn-block gap-2">
    <i-tabler name="photo" ></i-tabler>
    Select Image
</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
      <label for="my-modal-3" class="btn btn-sm btn-circle  absolute right-2 top-2">✕</label>

      <div class="modal-middle h-4/5 mt-16">
        <app-img-resize src="assets/images/man-with-phone.jpg" (upload)="uploadImage($event)"></app-img-resize>
      </div>
  </div>
</div>