<div class="mockup-phone">
    <div class="camera"></div> 
    <div class="display ">
        <div class="artboard overflow-y-scroll artboard-demo phone-1 bg-slate-500 pt-14 px-5 scrollbar justify-between items-center">

            <div class="space-y-2 w-full text-center">
                <div class="w-auto mx-auto">
                    <app-avatar [src]="page?.logo" [alt]="page?.title" ></app-avatar>
                </div>


                <div class="text-white text-center">
                    <h4 class="font-semibold">{{page?.title}}</h4>
                    <small>{{page?.desc}}</small>
                </div>
            </div>


            <div class="w-full flex-1 mt-2 space-y-2 px-2">
                <div *ngFor="let link of page?.links">
                    <div class="flex items-center space-x-2" *ngIf="link?.status === 'published'">
                        <a href="{{link?.url}}"  class="btn btn-primary normal-case relative btn-block flex-1" target="_blank">
                            <i *ngIf="link.thumbnail === 'icon'" class="ti ti-{{link.icon}} absolute my-2 left-4 text-2xl" ></i>
                            <img *ngIf="link.thumbnail === 'image'" class="w-8 h-8 rounded-full absolute left-3 my-2" [src]="link.icon" alt="">
                            {{link?.title}}
                        </a>
                        
                        <!-- <button class="btn btn-sm btn-outline btn-square btn-primary">
                            <i-feather name="share-2" style="width: 15px; height: 15px;" ></i-feather>
                        </button> -->
                    </div>
                </div>
            </div>


            <div class="text-center w-full text-white py-3">
                <small>Created with <a href="https://localhost.com" class="font-medium">Linkly</a>.</small>
            </div>
        </div>
    </div>
</div>