<footer class="bg-gray-800">
    <!-- container -->
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="flex flex-col lg:flex-row items-center justify-between py-12">
            <div class="flex items-center gap-x-3 mb-4 lg:mb-0">
                <a routerLink="/" >          
                    <img class="h-8 w-auto" src="assets/images/icon.svg" alt="Leadaa">
                  </a>
                <h1 class="font-medium text-gray-50 text-2xl normal-case">Leadaa</h1>
            </div>

            <ul class="flex flex-col md:flex-row items-center gap-y-2 md:gap-x-6 mb-4 lg:mb-0">
                <li>
                    <a href="#" class="font-medium text-gray-200 text-base hover:text-gray-400 transition duration-300">Our team</a>
                </li>

                <li>
                    <a href="#" class="font-medium text-gray-200 text-base hover:text-gray-400 transition duration-300">Features</a>
                </li>

                <li>
                    <a href="#" class="font-medium text-gray-200 text-base hover:text-gray-400 transition duration-300">Pricing</a>
                </li>
            </ul>

            <p class="font-normal text-gray-500 text-base">&copy; {{year}} Created by <span class="text-gray-200">Grandscale Digital</span></p>
        </div>
    </div>
    <!-- container.// -->
</footer>