<footer class="bg-gray-800">
    <!-- container -->
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="flex flex-col lg:flex-row items-center justify-between py-12">
            <div class="flex items-center gap-x-1 mb-4 lg:mb-0">
                <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.2191 1.94727H25.5546L15.0152 17.8516H0.679688L11.2191 1.94727Z" fill="#007AFF"/>
                    <path d="M11.8468 19.3252L7.76465 25.4854H22.7801L33.3196 9.58105H22.2372L15.7799 19.3252H11.8468Z" fill="#312ECB"/>
                </svg>
                <h1 class="font-normal text-gray-50 text-lg uppercase">Optimiser</h1>
            </div>

            <ul class="flex flex-col md:flex-row items-center gap-y-2 md:gap-x-6 mb-4 lg:mb-0">
                <li>
                    <a href="#" class="font-medium text-gray-200 text-base hover:text-gray-400 transition duration-300">Our team</a>
                </li>

                <li>
                    <a href="#" class="font-medium text-gray-200 text-base hover:text-gray-400 transition duration-300">Features</a>
                </li>

                <li>
                    <a href="#" class="font-medium text-gray-200 text-base hover:text-gray-400 transition duration-300">Pricing</a>
                </li>
            </ul>

            <p class="font-normal text-gray-500 text-base">&copy; {{year}} Created by <span class="text-gray-200">Grandscale Digital</span></p>
        </div>
    </div>
    <!-- container.// -->
</footer>