<app-pages>
    <div class="flex flex-col h-full">
        <div class="h-14 border-b bg-white px-7 flex items-center sticky top-0 z-50">
            <h3 class="text-xl font-semibold">Links</h3>
        </div>
    
        <div class="w-full h-full flex-1" >
            <div class="w-full px-2 md:w-9/12 mx-auto h-full">
                <div class="grid mt-5 grid-cols- w-full gap-5">
                    <div>
                        <button class="btn btn-primary w-full rounded-full" [ngClass]="loading ? 'loading' : '' " (click)="addLink()" >Add New Link</button>
                    </div>
                    <!-- <button class="btn btn-outline btn-primary rounded-full w-full">Choose a Link</button> -->
                </div>
            
                <div class="flex flex-col w-full mt-5 space-y-3" cdkDropList (cdkDropListDropped)="drop($event)">
                    <app-link-item cdkDrag *ngFor="let link of links" [link]="link"></app-link-item>
                </div>
            </div>
        </div>
    </div>
</app-pages>