<nav class="flex-wrap lg:flex items-center py-6">

    <div class="flex itms-center justify-between">
        <div class="flex items-center space-x-1">
            <svg width="34" height="27" viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.2191 1.38461H25.5546L15.0152 17.2889H0.679688L11.2191 1.38461Z" fill="#007AFF"/>
                <path d="M11.8468 18.7629L7.76465 24.9231H22.7801L33.3196 9.01877H22.2372L15.7799 18.7629H11.8468Z" fill="#312ECB"/>
            </svg>
            <h1 class="font-semibold text-black text-lg uppercase">Optimiser</h1>
        </div>

        <button id="toggleButton" class="btn btn-ghost md:hidden btn-square">
            <i-tabler name="menu" ></i-tabler>
        </button>
    </div>

    <!-- menu -->
    <ul id="navi-list" class="hidden lg:flex lg:items-center flex-col lg:flex-row gap-x-8 ml-0 lg:ml-12 mt-5 lg:mt-0">
        <li class="mb-5 lg:mb-0">
            <a href="#" class="font-medium text-gray-500 text-base hover:text-gray-800 transition duration-300">
                About
            </a>
        </li>

        <li class="mb-5 lg:mb-0">
            <a href="#" class="font-medium text-gray-500 text-base hover:text-gray-800 transition duration-300">
                Features
            </a>
        </li>

        <li class="mb-5 lg:mb-0">
            <a href="#" class="font-medium text-gray-500 text-base hover:text-gray-800 transition duration-300">
                FAQs
            </a>
        </li>

        <!-- btn -->
        <a href="{{dashboardUrl}}/register" target="_blank" class="btn btn-primary md:hidden">
            Get Started
        </a>
        <!-- btn.// -->
    </ul>
    <!-- menu.// -->

    <!-- btn -->
    <div class="ml-auto space-x-4 flex">
        <a href="{{dashboardUrl}}/login" target="_blank"  class="hidden lg:flex btn btn-primary btn-outline ">
            Login
        </a>
        <a href="{{dashboardUrl}}/register" target="_blank" class="hidden lg:flex btn btn-primary">
            Get Started
        </a>
    </div>
    <!-- btn.// -->
</nav>