<nav class="flex-wrap lg:flex items-center py-6">

    <div class="flex itms-center justify-between">
        <div class="flex items-center space-x-1">
            <a routerLink="/" >          
                <img class="h-8 w-auto" src="assets/images/logo.svg" alt="Leadaa">
              </a>
        </div>

        <button id="toggleButton" class="btn btn-ghost md:hidden btn-square">
            <i-tabler name="menu" ></i-tabler>
        </button>
    </div>

    <!-- menu -->
    <ul id="navi-list" class="hidden lg:flex lg:items-center flex-col lg:flex-row gap-x-8 ml-0 lg:ml-12 mt-5 lg:mt-0">
        <li class="mb-5 lg:mb-0">
            <a href="#" class="font-medium text-gray-500 text-base hover:text-gray-800 transition duration-300">
                About
            </a>
        </li>

        <li class="mb-5 lg:mb-0">
            <a href="#" class="font-medium text-gray-500 text-base hover:text-gray-800 transition duration-300">
                Features
            </a>
        </li>

        <li class="mb-5 lg:mb-0">
            <a href="#" class="font-medium text-gray-500 text-base hover:text-gray-800 transition duration-300">
                FAQs
            </a>
        </li>

        <!-- btn -->
        <a routerLink="/register" class="btn btn-primary md:hidden">
            Get Started
        </a>
        <!-- btn.// -->
    </ul>
    <!-- menu.// -->

    <!-- btn -->
    <div class="ml-auto space-x-4 flex">
        <a [href]="dashboardUrl+'/login'"  class="hidden lg:flex btn btn-primary btn-outline ">
            Login
        </a>
        <a [href]="dashboardUrl+'/register'" class="hidden lg:flex btn btn-primary">
            Get Started
        </a>
    </div>
    <!-- btn.// -->
</nav>