<div class="flex justify-center bg-slate-500 min-h-screen">
    <div class="flex flex-col lg:w-5/12 md:w-5/6 w-full justify-between items-center px-2">
        <div class="space-y-3 w-full text-center pt-16">
            <app-avatar [src]="page?.logo" [alt]="page?.title" className="w-28" ></app-avatar>
        
            <div class="text-white text-center mt-10 space-y-2">
                <h4 class="font-semibold text-xl">{{page?.title}}</h4>
                <p>{{page?.desc}}</p>
            </div>
        </div>
        
        
        <div class="md:w-10/12 w-11/12 flex-1 mt-10 space-y-4 px-2">
            <div *ngFor="let link of page?.links">
                <div class="">
                    <a href="{{link?.url}}"  class="btn btn-primary btn-lg normal-case w-full relative btn-block text-base" (click)="updateClick(link?.unique_id)" target="_blank" *ngIf="link?.status === 'published'" >
                        <i *ngIf="link.thumbnail === 'icon'" class="ti ti-{{link.icon}} absolute my-2 left-3 text-3xl" ></i>
                        <img *ngIf="link.thumbnail === 'image'" class="w-10 h-10 rounded-full absolute left-3 my-2" [src]="link.icon" alt="">
                        {{link?.title}}
                    </a>
                </div>
            </div>
        </div>
        
        
        <div class="text-center w-full text-white py-3">
            <p>Created with <a href="https://localhost.com" class="font-medium">Linkly</a>.</p>
        </div>
    </div>
</div>