<div class="card bg-white">
    <div class="card-body">
        <div *ngIf="stats" class="md:grid md:grid-cols-2">
            <div class="space-y-3">
                <label for="" class="lh-0 mb-3">
                    <h4 class="font-semibold mb-0">Devices</h4>
                    <!-- <p class="text-sm mt-0">View which devices your visitors are using</p> -->
                </label>

                <div class="w-5/6">
                    <p class="font-semibold text-sm leading-none">Mobile <span class="badge">{{stats.mobile.total}}</span></p>
                    <progress class="progress w-full" value="{{stats.mobile.percent}}" max="100"></progress>
                </div>
                
                <div class="w-5/6">
                    <p class="font-semibold text-sm leading-none">Tablet <span class="badge">{{stats.tablet.total}}</span></p>
                    <progress class="progress w-full" value="{{stats.tablet.percent}}" max="100"></progress>
                </div>

                <div class="w-5/6">
                    <p class="font-semibold text-sm leading-none">Desktop <span class="badge">{{stats.desktop.total}}</span></p>
                    <progress class="progress w-full" value="{{stats.desktop.percent}}" max="100"></progress>
                </div>
            </div>
            <div>
                <canvas baseChart
                    [data]="doughnutChartData"

                    [type]="doughnutChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>
