<div *ngIf="stats">
    <div *ngIf="hasStats"  class="md:grid md:grid-cols-2">
        <div class="space-y-3">
            <div class="w-5/6">
                <p class="font-semibold text-sm leading-none">Mobile <span class="badge">{{stats.mobile.total}}</span></p>
                <progress class="progress w-full" value="{{stats.mobile.percent}}" max="100"></progress>
            </div>
            
            <div class="w-5/6">
                <p class="font-semibold text-sm leading-none">Tablet <span class="badge">{{stats.tablet.total}}</span></p>
                <progress class="progress w-full" value="{{stats.tablet.percent}}" max="100"></progress>
            </div>
    
            <div class="w-5/6">
                <p class="font-semibold text-sm leading-none">Desktop <span class="badge">{{stats.desktop.total}}</span></p>
                <progress class="progress w-full" value="{{stats.desktop.percent}}" max="100"></progress>
            </div>
        </div>
        <div>
            <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType"></canvas>
        </div>
    </div>
    
    <app-unavailable-data *ngIf="!hasStats"></app-unavailable-data>
</div>

