<section>
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="text-center py-12 lg:py-24">
            <h2 class="font-semibold text-gray-900 text-2xl md:text-3xl lg:text-4xl mb-5">Frequently asked questions</h2>

            <p class="font-normal text-gray-500 text-base lg:text-xl mb-16">Everything you need to know about the start working with us.</p>

            <hr class="mb-6">

            <div class="relative text-left">
                <h4 class="accordion font-medium text-gray-900 text-lg cursor-pointer mb-2">
                    Do you give me invoice?
                </h4>

                <div class="hidden">
                    <p class="font-normal text-gray-500 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, repudiandae consectetur culpa rem doloribus maxime hic nisi nostrum dolorem ducimus odio repellendus minima, ipsum quidem numquam quia natus similique id?</p>
                </div>
            </div>

            <hr class="mt-8 mb-6">

            <div class="relative text-left">
                <h4 class="accordion font-medium text-gray-900 text-lg cursor-pointer mb-2">
                    Are personal social accounts required?
                </h4>

                <div class="hidden">
                    <p class="font-normal text-gray-500 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, repudiandae consectetur culpa rem doloribus maxime hic nisi nostrum dolorem ducimus odio repellendus minima, ipsum quidem numquam quia natus similique id?</p>
                </div>
            </div>

            <hr class="mt-8 mb-6">

            <div class="relative text-left">
                <h4 class="accordion font-medium text-gray-900 text-lg cursor-pointer mb-2">
                    Is tracking permission granted for SEO tools?
                </h4>

                <div class="hidden">
                    <p class="font-normal text-gray-500 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, repudiandae consectetur culpa rem doloribus maxime hic nisi nostrum dolorem ducimus odio repellendus minima, ipsum quidem numquam quia natus similique id?</p>
                </div>
            </div>

            <hr class="mt-8 mb-6">

            <div class="relative text-left">
                <h4 class="accordion font-medium text-gray-900 text-lg cursor-pointer mb-2">
                    Do you guarantee organic traffic?
                </h4>

                <div class="hidden">
                    <p class="font-normal text-gray-500 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, repudiandae consectetur culpa rem doloribus maxime hic nisi nostrum dolorem ducimus odio repellendus minima, ipsum quidem numquam quia natus similique id?</p>
                </div>
            </div>

            <hr class="mt-8 mb-6">

            <div class="relative text-left">
                <h4 class="accordion font-medium text-gray-900 text-lg cursor-pointer mb-2">
                    How long does it usually take for the average marketing job?
                </h4>

                <div class="hidden">
                    <p class="font-normal text-gray-500 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, repudiandae consectetur culpa rem doloribus maxime hic nisi nostrum dolorem ducimus odio repellendus minima, ipsum quidem numquam quia natus similique id?</p>
                </div>
            </div>
        </div>
    </div>
</section>