<app-pages title="Analytics" 
>
<!-- subtitle="Visualize your page's performance" -->
    <div class="w-full px-4">
        <div class="md:w-10/12 mx-auto md:py-10 py-4 space-y-4">
            <div class="card bg-white">
                <div class="card-body flex space-y-5">
                    <div class="text-center p-2 bg-gray-50 rounded-xl">
                        <h2 class="text-xl font-semibold">Lifetime Performance</h2>
                    </div>

                    <div class="grid grid-cols-3 ml-0">
                        <div class="text-center px-1 py-3">
                            <div>
                                <p class="text-sm text-gray-500">Views</p>
                                <p class="text-base font-medium text-gray-900">{{page.visits_count || 0}}</p>
                            </div>
                        </div>
                        <div class="text-center px-1 py-3 border-x">
                            <div>
                                <p class="text-sm text-gray-500">Clicks</p>
                                <p class="text-xl font-medium text-gray-900">{{page.clicks_count || 0}}</p>
                            </div>                            
                        </div>
                        <div class="text-center px-1 py-3">
                            <div>
                                <p class="text-sm text-gray-500">CTR</p>
                                <p class="text-xl font-medium text-gray-900">{{page.visits_count && percentage(page.clicks_count, page.visits_count, true) || 0}}%</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-y-2">
                <label for="" class="lh-0">
                    <h4 class="font-semibold mb-0">Performance</h4>
                </label>
            </div>

            <div class="card bg-white  ">
                <div class="card-body flex space-x-5">
                    <app-activity-chart [stats]="activity" *ngIf="show"></app-activity-chart>
                </div>
            </div>
            
            <div class="space-y-3">
                <label for="" class="lh-0">
                    <h4 class="font-semibold mb-0">Devices</h4>
                    <p class="text-sm mt-0">View which devices your visitors are using</p>
                </label>

                <div class="card bg-white">
                    <div class="card-body">
                        <app-devices-chart [stats]="devices" *ngIf="show" ></app-devices-chart>
                    </div>
                </div>
            </div>

            <div class="space-y-3">
                <label for="" class="lh-0">
                    <h4 class="font-semibold mb-0">Locations</h4>
                    <p class="text-sm mt-0">View where your visitors are located</p>
                </label>

                <div class="card bg-white">
                    <div class="card-body">
                        <div class="grid grid-cols-3">
                            <div>

                            </div>
                            <div class="col-span-2">
                                <app-location-chart [stats]="countries" *ngIf="show" ></app-location-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-pages>