<div class="flex space-x-1 py-3 px-5 relative">
    <i-feather name="close" class="absolute right-5 top-5"></i-feather>
    <div class="w-1/12">

    </div>
    <div class="flex-1">
        <div class="mb-2">
            <p class="font-medium lh-0">Select an Icon or Logo for this Link</p>
        </div>

        <div class="w-full grid grid-cols-2 gap-4">
            <button class="btn btn-primary rounded-full">
                <i-feather name="image" style="width: 30px; height: 30px;" class="mr-2" ></i-feather>
                Select Image
            </button>

            <button class="btn btn-primary btn-outline rounded-full">
                <i-feather name="image" style="width: 30px; height: 30px;" class="mr-2" ></i-feather>
                Select Image
            </button>
        </div>
    </div>
</div>