<div class="flex md:max-w-5xl mx-auto flex-col items-center w-full justify-center p-4 space-y-5">   
    <div class="text-center">      
        <h1 class="text-3xl text-primary">Welcome to Linkly</h1>      
        <p class="mx-auto mt-4 lg:w-2/3 text-gray-500">A repository of free components built with tailwindcss. Every component is responsive, customizable and carefully crafted for your use.</p>    
    </div>    

    <div class="flex-1 md:w-7/12 w-full">
        <div class="card bg-white">
            <div class="card-body">
                <form [formGroup]="newPageForm" (ngSubmit)="createPage()" class="space-y-2">
                    <div>
                        <input formControlName="title" type="text" required class="input input-bordered w-full" placeholder="Page Title">
                        <app-error [submitted]="submitted" [control]="newPageForm.get('title')" name="Page Title"></app-error>
                    </div>
            
                    <div>
                        <div class="flex input input-bordered items-center text-sm px-4 py-0">
                            <div class="inline px-0 pr-1 text-gray-600">{{appUrl}}/</div>
                            <input formControlName="slug" type="text" placeholder="slug" class="placeholder:text-sm bg-transparent flex-1 border-0 text-gray-600 px-0 focus:border-0 focus:outline-0 outline-0" />
                        </div>
                        <app-error [submitted]="submitted" [control]="newPageForm.get('slug')" name="Slug"></app-error>
                    </div>
            
                    <div>
                        <textarea formControlName="desc" class="textarea textarea-bordered resize-none w-full" placeholder="Page Description" id=""></textarea>
                        <app-error [submitted]="submitted" [control]="newPageForm.get('desc')" name="Description"></app-error>
                    </div>
            
                    <div>
                        <button class="btn btn-primary w-full" [ngClass]="loading ? 'loading': ''" type="submit">Create Page</button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class=" mt-8 space-y-5 border rounded-xl bg-white p-5">
    </div> -->
    <button class="mt-4 btn btn-ghost btn-wide">Learn more</button>  
</div>