<div class="flex md:max-w-5xl mx-auto h-full items-center w-full justify-center p-4 pt-10">   
    <div class="space-y-4 w-full">
        <div class="text-center w-full">      
            <h1 class="md:text-3xl text-2xl leading-tight text-primary">Hi, {{user.name}}</h1>      
            <p class="mx-auto mt-1 text-gray-500">Let's get you started with creating your first Page.</p>    
        </div>    
    
        <div class="md:w-7/12 mx-auto w-full">
            <div class="card ">
                <div class="card-body">
                    <form [formGroup]="newPageForm" (ngSubmit)="createPage()" class="space-y-2">
                        <div>
                            <input formControlName="title" type="text" required class="input input-bordered w-full" placeholder="Page Title">
                            <app-error [submitted]="submitted" [control]="newPageForm.get('title')" name="Page Title"></app-error>
                        </div>
                
                        <div>
                            <div class="flex input input-bordered items-center text-sm px-4 py-0">
                                <div class="inline px-0 text-gray-600">{{appUrl}}/</div>
                                <input formControlName="slug" type="text" placeholder="slug" class="placeholder:text-sm  bg-transparent flex-1 border-transparent  border-0 text-gray-600 px-0 focus:border-0 focus:outline-0 text-sm outline-0 shadow-none focus:shadow-none ring-0 focus:ring-0" />
                            </div>
                        </div>
                        <app-error [submitted]="submitted" [control]="newPageForm.get('slug')" name="Slug"></app-error>
                
                        <div>
                            <textarea formControlName="desc" class="textarea textarea-bordered resize-none w-full" placeholder="Page Description" id=""></textarea>
                            <app-error [submitted]="submitted" [control]="newPageForm.get('desc')" name="Description"></app-error>
                        </div>
                
                        <div>
                            <button class="btn btn-primary w-full" [ngClass]="loading ? 'loading': ''" type="submit">Create Page</button>    
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-center">
                <button class="mt-4 btn btn-ghost btn-wide mx-auto">Learn more</button>
            </div>
        </div>
    </div>  
</div>