<div class="px-3 space-y-5">
    <div class="dropdown w-full">
        <label tabindex="0" class="cursor-pointer border rounded-xl py-2 px-3 flex items-start justify-between m-1">
            <div>
                <small class="text-xs">Current Page</small>
                <p class="font-semibold text-sm">{{page?.title}}</p>
            </div>
    
            <i-tabler name="chevron-down" class="h-8 w-8"></i-tabler>
        </label>
        <div class="dropdown-content p-2 py-3 shadow bg-base-100 rounded-box w-60" tabindex="0">
            <p class="text-sm font-semibold text-center py-2 px-3">Switch Pages</p>

            <div *ngIf="pages.length > 0" class="space-y-1">
                <div *ngFor="let item of pages">
                    <a class="btn btn-block btn-ghost justify-start normal-case font-normal" *ngIf="item.id !== page.id" href="/{{item.slug}}" >{{item.title}}</a>
                </div>
            </div>
            
            <hr class="my-3" *ngIf="pages.length > 0"> 


            <label for="new-page-modal" class="btn btn-primary gap-2 btn-block">
                Create New Page
                <i-tabler name="plus"></i-tabler>
            </label>

        </div>
    </div>

    <div class="flex-1 h-full flex flex-col">
        <nav class="flex-1 space-y-1 ">
            <ul class="space-y-2">
                <li>
                    <a class="normal-case btn btn-ghost rounded-full btn-block justify-start hover:text-white transition-shadow" routerLinkActive="btn-active text-white" [routerLinkActiveOptions]="{exact: true}" routerLink="/{{slug}}" >
                        <i-feather name="link-2" class=""></i-feather>
                        <span class="ml-4">Links</span>
                    </a> 
                </li>
                <li>
                    <a class="normal-case btn btn-ghost rounded-full btn-block justify-start hover:text-white transition-shadow" routerLinkActive="btn-active text-white" routerLink="/{{slug}}/settings">
                        <i-feather name="settings"></i-feather>
                        <span class="ml-4">Settings</span>
                    </a>
                </li>
                <li>
                    <a class="normal-case btn btn-ghost rounded-full btn-block justify-start hover:text-white transition-shadow" routerLinkActive="btn-active text-white" routerLink="/{{slug}}/analytics">
                        <i-feather name="pie-chart"></i-feather>
                        <span class="ml-4">Analytics</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<app-new-page ></app-new-page>
