<div class="card bg-white md:w-3/6 mx-auto">
    <div class="card-body space-y-4">
        <div>
            <h3 class="text-lg font-semibold">Update Password</h3>
        </div>

        <form [formGroup]="passwordForm" class="space-y-4">
            <div>
                <label for="">Current Password</label>
                <input type="text" class="input input-bordered w-full">
            </div>

            <div class="grid grid-cols-2 gap-3">
                <div>
                    <label for="">New Password</label>
                    <input type="text" class="input input-bordered w-full">
                </div>
                <div>
                    <label for="">New Password Confirmation</label>
                    <input type="text" class="input input-bordered w-full">
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-wide">Update Profile</button>
            </div>
        </form>
    </div>
</div>