<div class="card bg-white md:w-3/6 mx-auto">
    <div class="card-body space-y-4">
        <div>
            <h3 class="text-lg font-semibold">Update Password</h3>
        </div>

        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="space-y-4">
            <div>
                <label for="current_password">Current Password</label>
                <input type="password" id="current_password" formControlName="current_password" class="input input-bordered w-full">
                <app-error [submitted]="submitted" [control]="passwordForm.get('current_password')" name="Current Password" ></app-error>
                <small class="text-red-600">{{httpErrors?.current_password}}</small>
            </div>

            <div class="grid grid-cols-2 gap-3">
                <div>
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" formControlName="new_password" class="input input-bordered w-full">
                    <app-error [submitted]="submitted" [control]="passwordForm.get('new_password')" name="New Password" ></app-error>
                    <small class="text-red-600">{{httpErrors?.new_password}}</small>
                </div>
                <div>
                    <label for="new_password_confirmation">New Password Confirmation</label>
                    <input type="password" id="new_password_confirmation" formControlName="new_password_confirmation" class="input input-bordered w-full">
                    <app-error [submitted]="submitted" [control]="passwordForm.get('new_password_confirmation')" name="New Password Confirmation" ></app-error>
                    <small class="text-red-600">{{httpErrors?.new_password_confirmation}}</small>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-wide">Update Password</button>
            </div>
        </form>
    </div>
</div>